<ion-view>
  <ion-header-bar class="bar-dark">
    <button class="button button-icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">
      忘记密码
    </h1>
  </ion-header-bar>
  <ion-content class="login">
    <div class="all">
      <div class="logo">
        <img src="./img/logo2.png" alt="">
      </div>
      <div class="forget_input">
        <input type="text" placeholder="电子邮箱">
        <input type="button" value="发送" class="btn1">
        <input type="button" value="取消" class="btn2">
      </div>
      <div class="all_footer">
        <span style="float: left" ui-sref="register">新用户</span>
        <span style="float: right" ui-sref="login">已有账号</span>
      </div>
    </div>
  </ion-content>
</ion-view>
