<ion-view>
  <ion-header-bar class="bar-dark">
    <button class="button button-icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">
     帐号设置
    </h1>
    <!--<button class="button button-icon" ng-click="show()">
      <i class="icon ion-ios-more"></i>
    </button>-->
  </ion-header-bar>
  <ion-content class="information">
    <div class="list">
      <div class="item item-divider item-title">
        个人信息
      </div>
      <div class="item item-conter item-icon-right" >
        头像
        <i class="icon ion-android-person-add"></i>
        <span></span>
      </div>
      <div class="item item-conter" >
        姓名
        <span>Shanks</span>
      </div>
      <div class="item item-conter" >
        简介
      </div>
      <div class="item item-divider item-title">
        联系方式
      </div>
      <div class="item item-conter" >
        邮箱
        <span>******@qq.com</span>
      </div>
      <div class="item item-divider item-title">

      </div>
      <div class="item item-conter item-icon-right" ui-sref="modify">
        修改密码
        <!--<i class="icon ion-ios-arrow-right"></i>-->
      </div>
      <div class="item item-divider item-title">

      </div>
    </div>
    <div class="item item-conter_footer text-center" >
     保存
    </div>
  </ion-content>
</ion-view>
