<ion-view>
  <ion-header-bar class="bar-dark">
    <button class="button button-icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">
      帐号设置
    </h1>
    <!--<button class="button button-icon" ng-click="show()">
      <i class="icon ion-ios-more"></i>
    </button>-->
  </ion-header-bar>
  <ion-content class="information">
    <div class="list">
      <div class="item item-divider item-title text-center">
        输入原始密码
      </div>
      <input type="password" >
      <div class="item item-divider item-title text-center">
        输入新密码
      </div>
      <input type="password" >
      <div class="item item-divider item-title text-center">
        确认密码
      </div>
      <input type="password" >
    </div>
    <button>
      保存
    </button>
  </ion-content>
</ion-view>
