<ion-view>
  <ion-tabs class="tabs-dark tabs-icon-top">
    <ion-tab title="推荐" icon="ion-social-skype" ui-sref="tabs.home">
      <ion-nav-view name="tabs-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="分类" icon="ion-navicon-round" ui-sref="tabs.classify">
      <ion-nav-view name="tabs-classify"></ion-nav-view>
    </ion-tab>
    <ion-tab title="栏目" icon="ion-pricetags" ui-sref="tabs.column">
      <ion-nav-view name="tabs-column"></ion-nav-view>
    </ion-tab>
    <ion-tab title="生活" icon="ion-aperture" ui-sref="tabs.life">
      <ion-nav-view name="tabs-life"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
